fire==0.5.0
ipython
pytz
pyyaml
langchain==0.0.188
chromadb==0.3.25
openai
tiktoken
playwright
beautifulsoup4
lxml
readability-lxml
markdownify
commonmark-slack
slack_sdk==3.21.3
slack_bolt>=1.6.1
certifi
unstructured
tabulate
pdf2image
youtube-transcript-api
pytube
